body {
  margin-top: 50px;
}

a:hover {
  text-decoration: none;
}

.btn {
  transition: all .2s linear;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -o-transition: all .2s linear;
}

#btn-read-more {
  padding: 5px;
  text-align: center;
  border-radius: 1px;
  display: inline-block;
  border: 2px solid #662D91;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  color:#662D91;
}

#btn-read-more:hover {
  color: #FFF;
  background: #662D91;
}

#post {
  border-bottom: 1px solid #DDD
}

#post-title {
  color: #662D91;
}

#post .glyphicon {
  margin-right: 5px;
}

#post-header-line {
  border-top: 1px solid #DDD;
  border-bottom: 10px solid #DDD;
  padding: 5px 0px 5px 15px;
  font-size: 12px;
}

#post-content {
  padding-bottom: 15px;
  padding-top: 15px;
}

.box-border {
  height: 40px;
  border: 1px solid black;
  box-sizing: border-box;
  color: #333;
  background-color: #fff;
  border-color: #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
  text-align: center;
}

#tags {
  margin-right: 545px;
  margin-top: 10px
}

#img-book {
  max-width: 370px;
  height: 500px;
  margin-left: -14px;
}

#col-md-4 {
  width: 29.333333%;
}

#button-read {
  position: absolute;
  height: 34px;
  bottom: -8px;
  margin-bottom: 6px;
}

#col-md-8 {
  height: 500px;
}

#button-review {
  position: absolute;
  height: 34px;
  bottom: -8px;
  margin-bottom: 6px;
  margin-left: 166px;
}
