/* dropdown */
#dropdown, #dropdown-toggle {
  min-width: 300px;
}

.dropdown-menu>li>a {
  padding: 3px 5px 3px 0;
}

#caret1 {
  margin-left: 198px;
}

#hr2 {
  border: none;
  height: 20px;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid #1f1209;
  box-shadow: 0 20px 20px -20px #333;
  margin: -50px auto 10px;
  margin-left: 0px;
  margin-top: -71px;
  margin-bottom: 30px;
}

#hr1 {
  margin-bottom: -16px;
}

#container-fix {
  width: 1358px;
}

#tag-color {
  background-color: #337ab7;
  font-size: 100%;
}
