html,
body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  font: normal 14px arial,sans-serif;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}

.footer-distributed{
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
  margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
  width: 40%;
}

/* The company logo */

.footer-distributed h3{
  color: #ffffff;
  font: normal 36px 'Cookie', cursive;
  margin: 0;
}

.footer-distributed h3 span{
  color: #5383d3;
}

/* Footer links */

.footer-distributed .footer-links{
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a{
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name{
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
  width: 35%;
}

.footer-distributed .footer-center i{
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p{
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span{
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a{
  color: #5383d3;
  text-decoration: none;;
}

/* Footer Right */

.footer-distributed .footer-right{
  width: 20%;
}

.footer-distributed .footer-company-about{
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span{
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons{
  margin-top: 25px;
}

.footer-distributed .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {
  .footer-distributed{
    font: bold 14px sans-serif;
  }
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
  display: block;
  width: 100%;
  margin-bottom: 40px;
  text-align: center;
  }
  .footer-distributed .footer-center i{
    margin-left: 0;
  }
}

/* Custom page CSS
-------------------------------------------------- */

#wrap > .container {
  padding: 60px 15px 0;
}
.container .credit {
  margin: 20px 0;
}

#footer {
  background-color: #414141;
}

#footer a {
  color: #efefef;
}

h1,h2,h3,h4 {
  font-family: 'Kreon', serif;
  vertical-align: middle;
}

header h1,header h2,header h3 a,header a,header a:hover {
  color: #101010;
  font-weight: 800;
  text-decoration: none;
}

header h3 {
  font-family: 'Kreon', serif;
  background: #ffcc33;
  padding: 10px;
  border-radius: 3px;
  font-size: 34px;
  padding: 12px 10px 6px 10px;
}

header .dropdown-menu {
  top: 74px;
  background: #ffffff;
  border-width: 0;
}

h1 {
  font-size: 50px;
}

#nav {
  width: 100%;
  position: static;
  top: -32px;
}

#nav.affix {
  position: fixed;
  top: 0;
  z-index: 10;
  -webkit-transition: all .6s ease-in-out;
}

@media (min-width: 767px) {
  .navbar-nav.nav-justified > li{
    float: none;
  }
}
.navbar-nav {
  margin: 1px 1px;
}

/* customize nav style */
.navbar-custom {
  background-color: #2e2e2e;
  font-weight: 700;
  text-transform: uppercase;
  border-width: 0;
}
.navbar-custom  .navbar-nav>li>a {
  color: #ddd;
}
.navbar-custom  .navbar-nav li>a:hover, .navbar-nav li .open, .navbar-custom .navbar-nav .active a  {
  background-color: #000;
}
.navbar-custom .dropdown-menu{
  right: 0;
}
.navbar-custom .navbar-nav>.dropdown>a .caret {
  border-top-color: #999;
  border-bottom-color: #999;
}

.navbar-collapse.in { /*3.0.2 bug workaround*/
  overflow-y: visible;
}

.navbar-toggle {
  outline: 0;
}

.divider {
  height: 100px;
}

.panel {
  border-width: 0;
}

@media (max-width: 768px) {
  header {
    height: 95px;
  }
}

#map-canvas {
  width: 100%;
  height: 300px;
  margin: 0;
  padding: 15px;
}

.scroll-top {
  position: fixed;
  bottom: 0;
  right: 6%;
  z-index: 100;
  background: #ffcc33;
  font-size: 24px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.scroll-top a:link,.scroll-top a:visited {
  color: #222;
}

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  .form-control {
    color: #a94442;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}
